.bg-green {background-color:#33cc66}
/* 

body {font-family:sans-serif;margin: 0;padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
header, section, footer, aside, nav, main, article, figure,ol,li {
    display: block; 
}

.null {text-decoration: none;list-style-type:none}
.test0 {border:1px solid black}
.test1 {border:1px solid white}
.flow-no {overflow: hidden}
.flow-x{overflow-x: auto}
.flow-x-no {overflow-x: hidden}
.flow-y{overflow-y: auto}
.flow-y-no {overflow-y: hidden}

.box-sizing-c {box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box}
.box-sizing-b {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
.none {display: none}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.relative {position: relative}
.absolute {position: absolute}
.absolute.left {left:0}
.absolute.right {right:0}
.absolute.top {top:0}
.absolute.bottom {bottom:0}
.absolute.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}
.fixed {position: fixed}
.fixed.left {left:0}
.fixed.right {right:0}
.fixed.top {top:0}
.fixed.bottom {bottom:0}
.fixed.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}

.margin {margin:auto}
.margin-12 {margin:12px}
.margin-16 {margin:16px}
.margin-lt {margin-left:auto}
.margin-lt-14 {margin-left:14px}
.margin-lt-12 {margin-left:12px}
.margin-lt-16 {margin-left:16px}
.margin-gt {margin-right:auto}
.margin-gt-14 {margin-right:14px}
.margin-gt-12 {margin-right:12px}
.margin-gt-16 {margin-right:16px}
.margin-ctr {margin-left: auto;margin-right: auto}

.padding {padding:auto}
.padding-8 {padding:8px}
.padding-16 {padding:16px}
.padding-lt-12 {padding-left: 12px}
.padding-lt-14 {padding-left: 14px}
.padding-lt-16 {padding-left: 16px}
.padding-gt-12 {padding-right:12px}
.padding-gt-14 {padding-right:14px}
.padding-gt-16 {padding-right:16px}

.width-100vw {width:100vw}
.width-full {width: 100%}
.height-100vh {height:100vh}
.height-full {height:100%}
.full {width: 100%;height:100%}

.icon-8 {width:8px;height:8px}
.icon-16 {width:16px;height:16px}
.icon-32 {width:32px;height:32px}
.icon-64 {width:64px;height:64px}
.icon-128 {width:128px;height:128px}
.icon-256 {width:256px;height:256px}

.block {display: block}
.text-ctr {text-align: center}
.text-1r {font-size: 1rem}
.text-2r {font-size: 2rem}
.text-2x {font-size: 2em}
.bold {font-weight: bold}
.light{font-weight:300}
.small {font-size: 0.8em}
.big {font-size: 1.2em}

.white {color: #f1f1f1}
.gray {color:#a1a1a1}
.black {color:#333}
.bg-white{background-color:white}
.bg-gray-light {background-color:#f1f1f1}
.bg-gray-dark {background-color:#4a4a4a}
.bg-green {background-color:#33cc66}
.bg-blue {background-color:#0099ff}
.bg-red {background-color:#ff6666}

.radius-3 {border-radius:3px}
.radius-6 {border-radius:6px}
.radius-9 {border-radius:9px}
.radius-12 {border-radius:12px}
.radius-15 {border-radius:15px}
.radius-18 {border-radius:18px}
.radius-50p {border-radius:50%}

.cursor:hover {cursor: pointer}
.shadow {box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2)}
body {font-family:sans-serif;margin: 0;padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
header, section, footer, aside, nav, main, article, figure,ol,li {
    display: block; 
}

.null {text-decoration: none;list-style-type:none}
.test0 {border:1px solid black}
.test1 {border:1px solid white}
.flow-no {overflow: hidden}
.flow-x{overflow-x: auto}
.flow-x-no {overflow-x: hidden}
.flow-y{overflow-y: auto}
.flow-y-no {overflow-y: hidden}

.box-sizing-c {box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box}
.box-sizing-b {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
.none {display: none}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.relative {position: relative}
.absolute {position: absolute}
.absolute.left {left:0}
.absolute.right {right:0}
.absolute.top {top:0}
.absolute.bottom {bottom:0}
.absolute.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}
.fixed {position: fixed}
.fixed.left {left:0}
.fixed.right {right:0}
.fixed.top {top:0}
.fixed.bottom {bottom:0}
.fixed.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}

.margin {margin:auto}
.margin-12 {margin:12px}
.margin-16 {margin:16px}
.margin-lt {margin-left:auto}
.margin-lt-14 {margin-left:14px}
.margin-lt-12 {margin-left:12px}
.margin-lt-16 {margin-left:16px}
.margin-gt {margin-right:auto}
.margin-gt-14 {margin-right:14px}
.margin-gt-12 {margin-right:12px}
.margin-gt-16 {margin-right:16px}
.margin-ctr {margin-left: auto;margin-right: auto}

.padding {padding:auto}
.padding-8 {padding:8px}
.padding-16 {padding:16px}
.padding-lt-12 {padding-left: 12px}
.padding-lt-14 {padding-left: 14px}
.padding-lt-16 {padding-left: 16px}
.padding-gt-12 {padding-right:12px}
.padding-gt-14 {padding-right:14px}
.padding-gt-16 {padding-right:16px}

.width-100vw {width:100vw}
.width-full {width: 100%}
.height-100vh {height:100vh}
.height-full {height:100%}
.full {width: 100%;height:100%}

.icon-8 {width:8px;height:8px}
.icon-16 {width:16px;height:16px}
.icon-32 {width:32px;height:32px}
.icon-64 {width:64px;height:64px}
.icon-128 {width:128px;height:128px}
.icon-256 {width:256px;height:256px}

.block {display: block}
.text-ctr {text-align: center}
.text-1r {font-size: 1rem}
.text-2r {font-size: 2rem}
.text-2x {font-size: 2em}
.bold {font-weight: bold}
.light{font-weight:300}
.small {font-size: 0.8em}
.big {font-size: 1.2em}

.white {color: #f1f1f1}
.gray {color:#a1a1a1}
.black {color:#333}
.bg-white{background-color:white}
.bg-gray-light {background-color:#f1f1f1}
.bg-gray-dark {background-color:#4a4a4a}
.bg-blue {background-color:#0099ff}
.bg-red {background-color:#ff6666}

.radius-3 {border-radius:3px}
.radius-6 {border-radius:6px}
.radius-9 {border-radius:9px}
.radius-12 {border-radius:12px}
.radius-15 {border-radius:15px}
.radius-18 {border-radius:18px}
.radius-50p {border-radius:50%}

.cursor:hover {cursor: pointer}
.shadow {box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2)}

body {font-family:sans-serif;margin: 0;padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
header, section, footer, aside, nav, main, article, figure,ol,li {
    display: block; 
}

.null {text-decoration: none;list-style-type:none}
.test0 {border:1px solid black}
.test1 {border:1px solid white}
.flow-no {overflow: hidden}
.flow-x{overflow-x: auto}
.flow-x-no {overflow-x: hidden}
.flow-y{overflow-y: auto}
.flow-y-no {overflow-y: hidden}

.box-sizing-c {box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box}
.box-sizing-b {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
.none {display: none}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.relative {position: relative}
.absolute {position: absolute}
.absolute.left {left:0}
.absolute.right {right:0}
.absolute.top {top:0}
.absolute.bottom {bottom:0}
.absolute.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}
.fixed {position: fixed}
.fixed.left {left:0}
.fixed.right {right:0}
.fixed.top {top:0}
.fixed.bottom {bottom:0}
.fixed.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}

.margin {margin:auto}
.margin-12 {margin:12px}
.margin-16 {margin:16px}
.margin-lt {margin-left:auto}
.margin-lt-14 {margin-left:14px}
.margin-lt-12 {margin-left:12px}
.margin-lt-16 {margin-left:16px}
.margin-gt {margin-right:auto}
.margin-gt-14 {margin-right:14px}
.margin-gt-12 {margin-right:12px}
.margin-gt-16 {margin-right:16px}
.margin-ctr {margin-left: auto;margin-right: auto}

.padding {padding:auto}
.padding-8 {padding:8px}
.padding-16 {padding:16px}
.padding-lt-12 {padding-left: 12px}
.padding-lt-14 {padding-left: 14px}
.padding-lt-16 {padding-left: 16px}
.padding-gt-12 {padding-right:12px}
.padding-gt-14 {padding-right:14px}
.padding-gt-16 {padding-right:16px}

.width-100vw {width:100vw}
.width-full {width: 100%}
.height-100vh {height:100vh}
.height-full {height:100%}
.full {width: 100%;height:100%}

.icon-8 {width:8px;height:8px}
.icon-16 {width:16px;height:16px}
.icon-32 {width:32px;height:32px}
.icon-64 {width:64px;height:64px}
.icon-128 {width:128px;height:128px}
.icon-256 {width:256px;height:256px}

.block {display: block}
.text-ctr {text-align: center}
.text-1r {font-size: 1rem}
.text-2r {font-size: 2rem}
.text-2x {font-size: 2em}
.bold {font-weight: bold}
.light{font-weight:300}
.small {font-size: 0.8em}
.big {font-size: 1.2em}

.white {color: #f1f1f1}
.gray {color:#a1a1a1}
.black {color:#333}
.bg-white{background-color:white}
.bg-gray-light {background-color:#f1f1f1}
.bg-gray-dark {background-color:#4a4a4a}
.bg-green {background-color:#33cc66}
.bg-blue {background-color:#0099ff}
.bg-red {background-color:#ff6666}

.radius-3 {border-radius:3px}
.radius-6 {border-radius:6px}
.radius-9 {border-radius:9px}
.radius-12 {border-radius:12px}
.radius-15 {border-radius:15px}
.radius-18 {border-radius:18px}
.radius-50p {border-radius:50%}

.cursor:hover {cursor: pointer}
.shadow {box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2)}
body {font-family:sans-serif;margin: 0;padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
header, section, footer, aside, nav, main, article, figure,ol,li {
    display: block; 
}

.null {text-decoration: none;list-style-type:none}
.test0 {border:1px solid black}
.test1 {border:1px solid white}
.flow-no {overflow: hidden}
.flow-x{overflow-x: auto}
.flow-x-no {overflow-x: hidden}
.flow-y{overflow-y: auto}
.flow-y-no {overflow-y: hidden}

.box-sizing-c {box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box}
.box-sizing-b {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
.none {display: none}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.relative {position: relative}
.absolute {position: absolute}
.absolute.left {left:0}
.absolute.right {right:0}
.absolute.top {top:0}
.absolute.bottom {bottom:0}
.absolute.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}
.fixed {position: fixed}
.fixed.left {left:0}
.fixed.right {right:0}
.fixed.top {top:0}
.fixed.bottom {bottom:0}
.fixed.center {left:0;right:0;top:0;bottom:0;margin-left:auto;margin-right:auto;
    margin-top:auto;margin-bottom:auto;
}

.margin {margin:auto}
.margin-12 {margin:12px}
.margin-16 {margin:16px}
.margin-lt {margin-left:auto}
.margin-lt-14 {margin-left:14px}
.margin-lt-12 {margin-left:12px}
.margin-lt-16 {margin-left:16px}
.margin-gt {margin-right:auto}
.margin-gt-14 {margin-right:14px}
.margin-gt-12 {margin-right:12px}
.margin-gt-16 {margin-right:16px}
.margin-ctr {margin-left: auto;margin-right: auto}

.padding {padding:auto}
.padding-8 {padding:8px}
.padding-16 {padding:16px}
.padding-lt-12 {padding-left: 12px}
.padding-lt-14 {padding-left: 14px}
.padding-lt-16 {padding-left: 16px}
.padding-gt-12 {padding-right:12px}
.padding-gt-14 {padding-right:14px}
.padding-gt-16 {padding-right:16px}

.width-100vw {width:100vw}
.width-full {width: 100%}
.height-100vh {height:100vh}
.height-full {height:100%}
.full {width: 100%;height:100%}

.icon-8 {width:8px;height:8px}
.icon-16 {width:16px;height:16px}
.icon-32 {width:32px;height:32px}
.icon-64 {width:64px;height:64px}
.icon-128 {width:128px;height:128px}
.icon-256 {width:256px;height:256px}

.block {display: block}
.text-ctr {text-align: center}
.text-1r {font-size: 1rem}
.text-2r {font-size: 2rem}
.text-2x {font-size: 2em}
.bold {font-weight: bold}
.light{font-weight:300}
.small {font-size: 0.8em}
.big {font-size: 1.2em}

.white {color: #f1f1f1}
.gray {color:#a1a1a1}
.black {color:#333}
.bg-white{background-color:white}
.bg-gray-light {background-color:#f1f1f1}
.bg-gray-dark {background-color:#4a4a4a}
.bg-blue {background-color:#0099ff}
.bg-red {background-color:#ff6666}

.radius-3 {border-radius:3px}
.radius-6 {border-radius:6px}
.radius-9 {border-radius:9px}
.radius-12 {border-radius:12px}
.radius-15 {border-radius:15px}
.radius-18 {border-radius:18px}
.radius-50p {border-radius:50%}

.cursor:hover {cursor: pointer}
.shadow {box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.2)}

 */