
.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}
h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}

h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}

h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}


h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}
h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}

h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}

h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}


.a1{
    width: 500;
    height: 300;
    border: 1px solid #333;
    transform: scale(1);
}

body {
    font-family:'PingFang SC',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div,header, section, footer, aside, nav, main, article, object, figure,ul, li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none;
    color: #333;
}

figure img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding:0;
    font-weight: normal;
    color: #333;
}


h1 {font-size: 36;}
h2 {font-size: 32;}
h3 {font-size: 30;}
h4 {font-size: 26;}
h5 {font-size: 24;}
h6 {font-size: 22;}
p,.base-p {font-size: 28;}

.no-visible {visibility: hidden;}
.no-flow {overflow: hidden;}
.test0 {border: 1px solid #333}
.test1 {border: 1px solid #fff}
.float-lt {display: block;float:left}
.float-gt {display: block;float:right}
.clear::after {content:'';display: block;clear:both}
.rel {position: relative}
.abs {position: absolute}
.abs-ctr {display: block;left:0;right:0;top:0;bottom:0;margin:auto;}
.fixed {position: fixed}
.full {box-sizing: border-box;width: 100vw;height:100vh}
.width-100vw {box-sizing: border-box;width: 100vw;}
.width-full {box-sizing: border-box;width: 100%;}
.height-full {box-sizing: border-box;height: 100%;}
.mr {margin:auto}
.circle {border-radius:50%}
.cursor:hover {cursor: pointer}

.txt-ctr {text-align: center;}

.bold {
    font-weight: 600;
}
.index-padding-bottom {
    padding-bottom: 212;
    box-sizing: border-box;
}







